<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheet.css">
  <title>Document</title>
</head>
<body>
  <div class="navbar">
    <div>
    </div>
    <div>
    <h1 class ="title">Kit List</h1>
    </div>
    <div>
    <h3 class ="login"><%=@user.email%></h3>
    </div>
  </div>
  <div class="container">
    <div class="left">
      <form action="http://localhost:4567/new_activity" method="get">
          <label for="activity">Activity</label>
          <input type="text" id="activity" name="activity">
          <button>Add Activity</button>
      </form>

      <ul id="ul" style="list-style-type:none;">
        <%# user = @user%>
        <%activities = @user.activities%>
        <%activities.each do |activity|%>
          <li><input type="checkbox" name=<%=activity.name%> value=<%=activity.name%>><%=activity.name%></li>
        <%end%>
      </ul>
    </div>
    <div class="right">
      <h2>Items</h2>
      <ul id="itemList">
      </ul>
    </div>
  </div>

  <script src="scripts_index.js"></script>
</body>
</html>
