<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Stencil+One&display=swap" rel="stylesheet">
  <title>Add New Activity</title>
</head>

<body>
  <header class="navbar">
      <div></div>
      <h1 class ="title">Kit List</h1>
      <h3 class ="login"><%=@user.email%></h3>
  </header>
  <div class="top-cards">
    <div class="card">
      <div>
        <form action="/new_activity_save" method="post" name="new_activity_form" id="new_activity_form">
        <label for="new_activity_name">Activity</label>
        <input type="text" id="new_activity_name" name="new_activity_name">
        <label for="new_activity_items">Items</label>
        <textarea id="new_activity_items" name="new_activity_items" rows="4" cols="50"></textarea>
        <button type="submit">Save Activty</button>
        </form>
      </div>
    </div>
  </div>

  <script src="scripts_new_activity.js"></script>
</body>
</html>
