/* shared */
html {
  background-color: white;
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.page {
  width: 1200px;
  margin: auto;
}

.navbar {
  color: rgb(255, 208, 0);
  background: #dc4949;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  padding: 0 30px;
  line-height: 0.9;
}


.navbar a {
  color: rgb(255, 208, 0);
  text-decoration: none;
  font-weight: bold;
}

.navbar a:link {
  color: rgb(255, 208, 0);
  text-decoration: none;
}

.navbar a:visited {
  color: rgb(255, 208, 0);
}

.navbar a:hover {
  color: rgb(255, 208, 0);
  text-decoration: underline;
  font-weight: bold;
}

.title {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.login {
  margin: 0;
}

.login > h3 {
  display: inline-block;
}

.login-username {
  margin-right: 10px;
}

p, li, form, button, a, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Saira Stencil One', cursive;
}

form > input, textarea{
  display: block;
  margin-bottom: 15px;
}

/* index */

.top-cards {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 30px; */
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;

}

.card {
  background-color: white;
  border: solid rgb(128, 128, 128) 2px;
  /* border: solid grey 2px; */
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px grey; */
  box-shadow: 5px 5px 5px rgb(188, 188, 188);
  padding: 30px;
  width: 500px;
}

.left {
  margin-left: 40px;
}

.right {
  margin-right: 40px;
}

ul {
  list-style: none;
}

.item-list-activity-name {
  font-weight: bold;
}

/* button {
  background-color: #dc4949;
  color: white;
  border-radius: 10px;
  padding: 3px;
} */

.button-pressed {
  color: blue;
}


/* landing */

.form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form-item {
  margin: 20px 0px;
}

.login-form {
  padding-left: 30px;
  padding-right: 30px;
}

.login-form > input, label {
  display: block;
}

.login-card {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  width: auto;
}
